[workspace]
name = "workspace"
version = "0.1.0"
authors = ["ian <ian.page38@gmail.com>"]
channels = ["nvidia", "pytorch", "pyg", "conda-forge"]
platforms = ["linux-64"]

[system-requirements]
linux = "4.18"
cuda = "12"

[dependencies]
# Common Core Dependencies
pip = "*" # Ensure pip is available
python = "*" 
pytorch = { version = "2.1.*", channel = "pytorch" }
pytorch-cuda = { version = "12.1.*", channel = "pytorch" }
cuda-nvcc = "12.1.*"
cuda-toolkit = "12.1.*"
plyfile = "*"
tqdm = "*"
pytorch-scatter = "*"
opencv = "*"

[pypi-dependencies]
einops = "*"
wandb = "*"
lpips = "*"
laspy = "*"
jaxtyping = "*"
colorama = "*"

[tasks]
setup-env = "python -m pip install -e submodules/diff-gaussian-rasterization -e submodules/simple-knn"
train = { cmd = "bash single_train.sh", description = "Train OctreeGS. Usage: pixi run train --scene /abs/path/to/dataset" }
render = { cmd = "python render.py", description = "Render output (usage: pixi run render -m <model_path>)" }
